body, html, #root {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}

.app-delete-button {
    color: orange;
    font-size: 30px;
}

.app-delete-button:hover {
    cursor: pointer;
    color: black;
}

.full-height {
    height: 100% !important;
}

.flex-box {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.addPostButton {
    color: green !important;
    font-size: 3em !important;
    position: fixed;
    bottom: 18px;
    right: 18px;
}

.addPostButton:hover {
    cursor: pointer;
    color: black !important;
}

.w3-modal {
    animation-name: popups;
    animation-duration: 800ms;
    animation-timing-function: linear;
}

@keyframes popups {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

.post-link {
    text-decoration: none;
    padding: 0px 10px;
}

.post-link:hover {
    color: #00A1E4 !important;
    cursor: pointer;
    text-decoration: underline;
}

.margin-left {
    margin-left: 10px;
}

.hoverable:hover {
    cursor: pointer !important;
}

.center-button {
    display: flex;
    justify-content: center;
}
